{% trans_default_domain 'FOSUserBundle' %}
  <div class="row">
        <div class="col-md-12 well well-sm">
 {% block name %}
  <div class="text-info center">
       <h2>User Detail</h2>
   </div>
<hr32/>
{% endblock name %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
</div>
</div>
