{% extends 'home_page.html.twig' %}

{% block body %}

  <hr>
    <div class="row">
                    {% for ogeessotaa in ogeessotaas %}
        <div class="col-sm-12 col-sm-offset-1">
            <a href="#" class="btn btn-back-message-list btn-info btn-sm no-radius bigger-125">
                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
            Gamoo Carraa Hojii : 
                <span class="label label-inverse arrowed-in"></span></a>
            <a href="#" class="btn btn-back-message-list btn-info btn-sm no-radius bigger-125">
                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
           
                <span class="label label-inverse arrowed-in">                {{ ogeessotaa.kaffaltiigorsaanyknapirojektiitiinhajjotame - ogeessotaa.kaffaltiimirkanaahe }}</span></a>
        
        </div>
       {% endfor %}
    </div>
 <hr>
    <div class="row">
                    {% for ogeessotaa in ogeessotaas %}
        <div class="col-sm-12 col-sm-offset-1">
            <a href="#" class="btn btn-back-message-list btn-info btn-sm no-radius bigger-125">
                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
             Daandii Carraa Hojii : 
                <span class="label label-inverse arrowed-in"></span></a>
            <a href="#" class="btn btn-back-message-list btn-info btn-sm no-radius bigger-125">
                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
           
                <span class="label label-inverse arrowed-in">                {{ ogeessotaa.kaffaltiigorsaanyknapirojektiitiinhajjotame - ogeessotaa.kaffaltiimirkanaahe }}</span></a>
        
        </div>
       {% endfor %}
    </div>
 <hr>
    <div class="row">
                    {% for ogeessotaa in ogeessotaas %}
        <div class="col-sm-12 col-sm-offset-1">
            <a href="#" class="btn btn-back-message-list btn-info btn-sm no-radius bigger-125">
                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
            Bish.fi/Jallisii Carraa Hojii:  
                <span class="label label-inverse arrowed-in"></span></a>
            <a href="#" class="btn btn-back-message-list btn-info btn-sm no-radius bigger-125">
                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
           
                <span class="label label-inverse arrowed-in">                {{ ogeessotaa.kaffaltiigorsaanyknapirojektiitiinhajjotame - ogeessotaa.kaffaltiimirkanaahe }}</span></a>
        
        </div>
       {% endfor %}
    </div>
 
{% endblock %}
