{% extends 'base.html.twig' %}

{% block body %}
    <h2>{% trans %}Site Information Creation{% endtrans %}</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{% trans %}Create{% endtrans %}"  class="btn btn-sm btn-success" />
    {{ form_end(form) }}

    
            <a href="{{ path('aboutus_index') }}" class="btn btn-sm btn-warning">{% trans %}Back{% endtrans %}</a>
       
{% endblock %}
