{% extends 'home_page.html.twig' %}

{% block body %}
<div class="vspace-6-sm"></div>

									<div class="col-sm-12">
										<div class="tabbable">
											<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
												<li class="active">
													<a data-toggle="tab" href="#home4">Project User Manual</a>
												</li>

												<li>
													<a data-toggle="tab" href="#profile4">Micro & Small Enterprise</a>
												</li>

												<li >
													<a data-toggle="tab" href="#dropdown14">Features In CMIS</a>
												</li>
											</ul>

											<div class="tab-content">
												<div id="home4" class="tab-pane in active">
	<div style="padding: 2%;margin: 0 2%">
    <table style="width: 100%; background-color: smoke-white;">
        <tr>
            <td style="vertical-align: top;">
                <div class="tilteback" style="">
                    <div style="text-align: center;" class="menutitledv">
                        <b class="menutiltile" style=""><em>Features In CMIS</em></b>
                    </div>

                    <div class="bodycontainer" style="">

                        <div style=" margin: 2% 2% 2% 5%">
<!--                    <div class='innertext' style='border-radius: 4px;overflow-y: auto ;min-height: 300px;max-height: 620px;/*border: #83a1db 1px solid;*/; width: 98%;padding: 1%;/*padding: 1%;*//*background-color: #fff*/'>-->

                        <div style="word-break: normal/*;border: #c9d2da 1px solid*/;margin: 1% 2%;color: #1d387c/*;background-color: #eee;*/;padding: 3%;border-radius: 6px;font-size: 14px">
                            <h5>Student registration and enrollment</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        <div>Student profile entrance in web form</div>
                                    </li>
                                    <li>
                                        <div>

                                            Batch mode student data importing from Excel file which reduces the time and
                                            resource required for writing each student basic information manually
                                            on the system for thousands of students.

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <br>


                            <h5>Instructor registration</h5>



<!--                            <div class="par1">-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        Instructor registration.-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
                            <br>
                            <h5>Grouping Students in a section </h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system includes a tool that allows Department to group students in
                                        a section (alphabetically of randomly)
                                        when number of students are more than one section using very easy automatic tool.
                                    </li>

                                </ul>
                            </div>
                            <br>
                            <h5>Student Program Placement</h5>
                            <div class="par1">
                                <ul>
                                    <li>

                                        The system allows students to select their department according to their
                                        preference from online and finally the system allocates the student according to
                                        their choice and other criteria.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Course Offering and Add/Drop Course for Student</h5>
                            <div class="par1">
                                <ul>
                                    <li>

                                        Allows the user to offer course for student
                                        <ul class="internallist">
                                            <li>
                                                Per individually
                                            </li>
                                            <li>
                                                For section
                                            </li>
                                            <li>
                                                For program
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        A student or the whole section can add or drop a course after courses is offered
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Withdraw and Readmission</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system can withdraw those students who are below the point for promotion
                                        during the process of status determination.
                                    </li>
                                    <li>
                                        The system also supports withdraw with a reason of other than academic status.
                                    </li>
                                    <li>
                                        Finally it can Re-admit withdrew students when the time of Re-admission reaches.
                                    </li>
                                </ul>




                            </div>
                            <br>
                            <h5>Course offering for Instructor</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system includes a tool that allow departments to offer course for the instructor
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Online Student Result Submission</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Allow Instructor to submit student result for each exam type for
                                        sections he has offered from department.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Approval Request and Response </h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system allows instructors to send student result approval requests for the department when
                                        he finishes all exams.
                                    </li>
                                    <li>
                                        Finally, the department sends response for the request based on the requirement.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Automatic grading</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system automatically calculates student grade when the result is approved by the department.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Automatic Student Selection for Re-Exam</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system automatically select students under the minimum required grade for pass during exam grading
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Re Grade </h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The user can re grade student result when necessary and the system sends automatic
                                        email for the student and respective instructor when re grade is done.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Student Transfer</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Allow students to inter program transfer between universities or intra program transfer based on the curriculum requirement.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Student Promotion</h5>
                            <div class="par1">
                                <ul>
                                    <li>

                                        The system allows students to be promoted from one semester to the next semester
                                        in a very controlled manner (like automatic detection when grade for a section is submitted). It can be done for
                                       <div style="padding-left: 15px">
                                        <ul class="internallist">
                                            <li>

                                                Single student
                                            </li>
                                            <li>
                                                Section
                                            </li>
                                            <li>
                                                The whole program at one time
                                            </li>
                                            </ul>
                                       </div>

                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Online Instructor Evaluation</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system includes feature that allows

                                        <div style="padding-left: 10px">
                                        <ul class="internallist">
                                            <li>
                                                Students

                                            </li>
                                            <li>
                                                Peer instructors and

                                            </li>
                                            <li>
                                                Department heads

                                            </li>
                                        </ul>
                                        </div>

                                        to evaluate instructors from online using the form provided by the system.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Online Exam Result and Grade Access</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Students can access all their exam results entered by their instructors.
                                    </li>
                                    <li>
                                        Finally they can also view the grade
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Report Generation</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        There are a lot of different report types generated from the system that exports required readable data for a user in Excel and PDF format.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Power Full User Management</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Since it is a system containing a very sensitive data, the system have got
                                        very power full user management system in different level of privileges.
                                    </li>
                                </ul>
                            </div>
                            <h5>Information Broadcasting</h5>

                            <div class="par1">
                                <ul>
                                    <li>
                                        The system allows administrator to send personal message or broadcast for specific group of users
                                    </li>
                                </ul>
                            </div>
                            <br>


                        </div>


<!--                    </div>-->
                        </div>
                    </div>
                </div>
												</div>

												<div id="profile4" class="tab-pane">
	<div style="padding: 2%;margin: 0 2%">
    <table style="width: 100%; background-color: smoke-white;">
        <tr>
            <td style="vertical-align: top;">
                <div class="tilteback" style="">
                    <div style="text-align: center;" class="menutitledv">
                        <b class="menutiltile" style=""><em>Features In CMIS</em></b>
                    </div>

                    <div class="bodycontainer" style="">

                        <div style=" margin: 2% 2% 2% 5%">
<!--                    <div class='innertext' style='border-radius: 4px;overflow-y: auto ;min-height: 300px;max-height: 620px;/*border: #83a1db 1px solid;*/; width: 98%;padding: 1%;/*padding: 1%;*//*background-color: #fff*/'>-->

                        <div style="word-break: normal/*;border: #c9d2da 1px solid*/;margin: 1% 2%;color: #1d387c/*;background-color: #eee;*/;padding: 3%;border-radius: 6px;font-size: 14px">
                            <h5>Student registration and enrollment</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        <div>Student profile entrance in web form</div>
                                    </li>
                                    <li>
                                        <div>

                                            Batch mode student data importing from Excel file which reduces the time and
                                            resource required for writing each student basic information manually
                                            on the system for thousands of students.

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <br>


                            <h5>Instructor registration</h5>

                            <br>
                            <h5>Grouping Students in a section </h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system includes a tool that allows Department to group students in
                                        a section (alphabetically of randomly)
                                        when number of students are more than one section using very easy automatic tool.
                                    </li>

                                </ul>
                            </div>
                            <br>
                            <h5>Student Program Placement</h5>
                            <div class="par1">
                                <ul>
                                    <li>

                                        The system allows students to select their department according to their
                                        preference from online and finally the system allocates the student according to
                                        their choice and other criteria.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Course Offering and Add/Drop Course for Student</h5>
                            <div class="par1">
                                <ul>
                                    <li>

                                        Allows the user to offer course for student
                                        <ul class="internallist">
                                            <li>
                                                Per individually
                                            </li>
                                            <li>
                                                For section
                                            </li>
                                            <li>
                                                For program
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        A student or the whole section can add or drop a course after courses is offered
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Withdraw and Readmission</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system can withdraw those students who are below the point for promotion
                                        during the process of status determination.
                                    </li>
                                    <li>
                                        The system also supports withdraw with a reason of other than academic status.
                                    </li>
                                    <li>
                                        Finally it can Re-admit withdrew students when the time of Re-admission reaches.
                                    </li>
                                </ul>




                            </div>
                            <br>
                            <h5>Course offering for Instructor</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system includes a tool that allow departments to offer course for the instructor
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Online Student Result Submission</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Allow Instructor to submit student result for each exam type for
                                        sections he has offered from department.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Approval Request and Response </h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system allows instructors to send student result approval requests for the department when
                                        he finishes all exams.
                                    </li>
                                    <li>
                                        Finally, the department sends response for the request based on the requirement.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Automatic grading</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system automatically calculates student grade when the result is approved by the department.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Automatic Student Selection for Re-Exam</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system automatically select students under the minimum required grade for pass during exam grading
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Re Grade </h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The user can re grade student result when necessary and the system sends automatic
                                        email for the student and respective instructor when re grade is done.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Student Transfer</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Allow students to inter program transfer between universities or intra program transfer based on the curriculum requirement.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Student Promotion</h5>
                            <div class="par1">
                                <ul>
                                    <li>

                                        The system allows students to be promoted from one semester to the next semester
                                        in a very controlled manner (like automatic detection when grade for a section is submitted). It can be done for
                                       <div style="padding-left: 15px">
                                        <ul class="internallist">
                                            <li>

                                                Single student
                                            </li>
                                            <li>
                                                Section
                                            </li>
                                            <li>
                                                The whole program at one time
                                            </li>
                                            </ul>
                                       </div>

                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Online Instructor Evaluation</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system includes feature that allows

                                        <div style="padding-left: 10px">
                                        <ul class="internallist">
                                            <li>
                                                Students

                                            </li>
                                            <li>
                                                Peer instructors and

                                            </li>
                                            <li>
                                                Department heads

                                            </li>
                                        </ul>
                                        </div>

                                        to evaluate instructors from online using the form provided by the system.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Online Exam Result and Grade Access</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Students can access all their exam results entered by their instructors.
                                    </li>
                                    <li>
                                        Finally they can also view the grade
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Report Generation</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        There are a lot of different report types generated from the system that exports required readable data for a user in Excel and PDF format.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Power Full User Management</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Since it is a system containing a very sensitive data, the system have got
                                        very power full user management system in different level of privileges.
                                    </li>
                                </ul>
                            </div>
                            <h5>Information Broadcasting</h5>

                            <div class="par1">
                                <ul>
                                    <li>
                                        The system allows administrator to send personal message or broadcast for specific group of users
                                    </li>
                                </ul>
                            </div>
                            <br>


                        </div>


<!--                    </div>-->
                        </div>
                    </div>
                </div>
												</div>

												<div id="dropdown14" class="tab-pane">
					<div style="padding: 2%;margin: 0 2%">
    <table style="width: 100%; background-color: smoke-white;">
        <tr>
            <td style="vertical-align: top;">
                <div class="tilteback" style="">
                    <div style="text-align: center;" class="menutitledv">
                        <b class="menutiltile" style=""><em>Features In CMIS</em></b>
                    </div>

                    <div class="bodycontainer" style="">

                        <div style=" margin: 2% 2% 2% 5%">
<!--                    <div class='innertext' style='border-radius: 4px;overflow-y: auto ;min-height: 300px;max-height: 620px;/*border: #83a1db 1px solid;*/; width: 98%;padding: 1%;/*padding: 1%;*//*background-color: #fff*/'>-->

                        <div style="word-break: normal/*;border: #c9d2da 1px solid*/;margin: 1% 2%;color: #1d387c/*;background-color: #eee;*/;padding: 3%;border-radius: 6px;font-size: 14px">
                            <h5>Student registration and enrollment</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        <div>Student profile entrance in web form</div>
                                    </li>
                                    <li>
                                        <div>

                                            Batch mode student data importing from Excel file which reduces the time and
                                            resource required for writing each student basic information manually
                                            on the system for thousands of students.

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <br>


                            <h5>Instructor registration</h5>



<!--                            <div class="par1">-->
<!--                                <ul>-->
<!--                                    <li>-->
<!--                                        Instructor registration.-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
                            <br>
                            <h5>Grouping Students in a section </h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system includes a tool that allows Department to group students in
                                        a section (alphabetically of randomly)
                                        when number of students are more than one section using very easy automatic tool.
                                    </li>

                                </ul>
                            </div>
                            <br>
                            <h5>Student Program Placement</h5>
                            <div class="par1">
                                <ul>
                                    <li>

                                        The system allows students to select their department according to their
                                        preference from online and finally the system allocates the student according to
                                        their choice and other criteria.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Course Offering and Add/Drop Course for Student</h5>
                            <div class="par1">
                                <ul>
                                    <li>

                                        Allows the user to offer course for student
                                        <ul class="internallist">
                                            <li>
                                                Per individually
                                            </li>
                                            <li>
                                                For section
                                            </li>
                                            <li>
                                                For program
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        A student or the whole section can add or drop a course after courses is offered
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Withdraw and Readmission</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system can withdraw those students who are below the point for promotion
                                        during the process of status determination.
                                    </li>
                                    <li>
                                        The system also supports withdraw with a reason of other than academic status.
                                    </li>
                                    <li>
                                        Finally it can Re-admit withdrew students when the time of Re-admission reaches.
                                    </li>
                                </ul>




                            </div>
                            <br>
                            <h5>Course offering for Instructor</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system includes a tool that allow departments to offer course for the instructor
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Online Student Result Submission</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Allow Instructor to submit student result for each exam type for
                                        sections he has offered from department.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Approval Request and Response </h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system allows instructors to send student result approval requests for the department when
                                        he finishes all exams.
                                    </li>
                                    <li>
                                        Finally, the department sends response for the request based on the requirement.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Automatic grading</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system automatically calculates student grade when the result is approved by the department.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Automatic Student Selection for Re-Exam</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system automatically select students under the minimum required grade for pass during exam grading
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Re Grade </h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The user can re grade student result when necessary and the system sends automatic
                                        email for the student and respective instructor when re grade is done.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Student Transfer</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Allow students to inter program transfer between universities or intra program transfer based on the curriculum requirement.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Student Promotion</h5>
                            <div class="par1">
                                <ul>
                                    <li>

                                        The system allows students to be promoted from one semester to the next semester
                                        in a very controlled manner (like automatic detection when grade for a section is submitted). It can be done for
                                       <div style="padding-left: 15px">
                                        <ul class="internallist">
                                            <li>

                                                Single student
                                            </li>
                                            <li>
                                                Section
                                            </li>
                                            <li>
                                                The whole program at one time
                                            </li>
                                            </ul>
                                       </div>

                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Online Instructor Evaluation</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        The system includes feature that allows

                                        <div style="padding-left: 10px">
                                        <ul class="internallist">
                                            <li>
                                                Students

                                            </li>
                                            <li>
                                                Peer instructors and

                                            </li>
                                            <li>
                                                Department heads

                                            </li>
                                        </ul>
                                        </div>

                                        to evaluate instructors from online using the form provided by the system.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Online Exam Result and Grade Access</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Students can access all their exam results entered by their instructors.
                                    </li>
                                    <li>
                                        Finally they can also view the grade
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Report Generation</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        There are a lot of different report types generated from the system that exports required readable data for a user in Excel and PDF format.
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <h5>Power Full User Management</h5>
                            <div class="par1">
                                <ul>
                                    <li>
                                        Since it is a system containing a very sensitive data, the system have got
                                        very power full user management system in different level of privileges.
                                    </li>
                                </ul>
                            </div>
                            <h5>Information Broadcasting</h5>

                            <div class="par1">
                                <ul>
                                    <li>
                                        The system allows administrator to send personal message or broadcast for specific group of users
                                    </li>
                                </ul>
                            </div>
                            <br>


                        </div>


<!--                    </div>-->
                        </div>
                    </div>
                </div>
		
												</div>
											</div>
										</div>
									</div><!-- /.col -->
								</div><!-- /.row -->

	
{% endblock %}
