{% block body %}

<div id="login-box" class="login-box" style="border-radius: 25px;
  border: 4px solid #CAE1FF;
  padding: 20px; 
  width: 800px;
  height: 1100px;">		
<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="alert alert-block alert-success" style="border-radius: 18px;">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>

									<i class="ace-icon fa fa-check green"></i>

									{% trans %}Welcome to ACIMS&#187;{% endtrans %}
									<strong class="green">
										 
									</strong>
       						{% trans %}Please log in for personalized information.{% endtrans %}
							{# {% trans %}Automated Construction Information Management System{% endtrans %} #}
								</div>

        <div id="timeline-1">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
<h4 class="header smaller lighter blue"><b>{% trans %}Mission, Vission, Core values and Strategic Themes of ACIMS{% endtrans %}</b></h4>
{################################## Mission(Ergama) ##################################################}
                    <div class="timeline-container">
                        <div class="timeline-label">
                            <span class="label label-warning arrowed-in-right label-lg">
                                <b>{% trans %}Mission{% endtrans %}</b>

                            </span>
                        </div>

                        <div class="timeline-items">
                            <div class="timeline-item clearfix">
                                <div class="timeline-info">
                                    <img    src="{{ asset('images/newlogo.png') }}"   />

                                </div>

                                <div class="widget-box transparent">
                                    <div class="widget-header widget-header-small">
                                        <h5 class="widget-title smaller">
                                            <a href="#" class="blue">{% trans %}Mission{% endtrans %}</a>
                                        </h5> 


                                        <span class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>
                                        </span>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">
<p>{% trans %}By using skilled manpower and modern technology delivering quality construction works both domestically and overseas assembling construction machineries and equipment manufacturing spare parts as well as acquiring owning and administering dams constructed by the government collecting charges from the beneficiaries of such dams and expanding such development activities{% endtrans %}</p>

 

                                            <div class="space-6"></div>

                                        </div>
                                    </div>
                                </div>
{################################## Vision(Mul’ata) ##################################################}
                                <div class="timeline-label">
                                    <span class="label label-success arrowed-in-right label-lg">
                                        <b>{% trans %}Vision{% endtrans %}</b>
                                    </span>
                                </div>
                                <div class="timeline-info">
                                    <img    src="{{ asset('images/newlogo.png') }}"   />

                                </div>
                                <div class="widget-box transparent">
                                    <div class="widget-header widget-header-small">
                                        <h5 class="widget-title smaller">
                                            <a href="#" class="blue">{% trans %}Vision{% endtrans %}</a>

                                        </h5>  
                                        <span class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>
                                        </span>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">

<p>{% trans %}To be a worldwide competent construction company by 2026{% endtrans %}</p>

                                            <div class="space-6"></div>


                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-label">
{############################ Strategic Theme(Toora Xiyyeeffannoo) #################################}
                                    <span class="label label-warning arrowed-in-right label-lg">
                                        <b> {% trans %}Strategic Theme{% endtrans %}</b> 
                                    </span>
                                </div>
                                <div class="timeline-info">
                                    <img    src="{{ asset('images/newlogo.png') }}"   />

                                </div>
                                <div class="widget-box transparent">
                                    <div class="widget-header widget-header-small">
                                        <h5 class="widget-title smaller">
                                            <a href="#" class="blue">{% trans %}Strategic Theme{% endtrans %}</a>

                                        </h5>


                                        <span class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
 <table class="table table-bordered table-striped table-condensed" style="font-size:12px; background-color:whitesmoke" id="datatables-example"> 
 
<th>{% trans %}No{% endtrans %}</th>
<th>{% trans %}Strategic Theme{% endtrans %}</th>
<th>{% trans %}Advantages of Strategic Theme{% endtrans %}</th>
 
<tbody>
<tr>
<td>1</td>
<td>{% trans %}Regulatory Construction{% endtrans %}</td>
<td>{% trans %}Complete quality projects at an affordable price and on time{% endtrans %}</td>
</tr>
<tr>
<td>2</td>
<td>{% trans %}Scope Industry Construction{% endtrans %}</td>
<td>{% trans %}Industrial Construction provides to stakeholders{% endtrans %}</td>
</tr>
<tbody>
</table>
 
 
                                            <div class="space-6"></div>


                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-label">
{############################ Core Value(Duudhaalee) #################################}
                                    <span class="label label-info arrowed-in-right label-lg">
                                        <b>  {% trans %}Core Value{% endtrans %}  </b>
                                    </span>
                                </div>
                                <div class="timeline-info">
                                    <img    src="{{ asset('images/newlogo.png') }}"   />

                                </div>
                                <div class="widget-box transparent">
                                    <div class="widget-header widget-header-small">
                                        <h5 class="widget-title smaller">
                                            <a href="#" class="blue"> {% trans %}Core Value{% endtrans %}</a>

                                        </h5>



                                        <span class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>
                                        </span>
                                    </div>

                                    <div class="widget-body">
                                        <div class="widget-main">

 

<div class="#">
<p><b>{% trans %}Our core values are{% endtrans %}</b></p>
   <ol>
      <li><a href="#">{% trans %}Quality First{% endtrans %}</a></li>
     <li><a href="#">{% trans %}Team Work{% endtrans %}</a></li>
     <li><a href="#">{% trans %}Area of Business{% endtrans %}</a></li>
     <li><a href="#">{% trans %}Water Infrastructure Construction{% endtrans %}</a></li>
     <li><a href="#">{% trans %}Transport Infrastructure Construction{% endtrans %}</a></li>
     <li><a href="#">{% trans %}Building Infrastructure Construction{% endtrans %}</a></li>
     <li><a href="#">{% trans %}Irrigation-Dams-Deep Water wells{% endtrans %}</a></li>
   </ol>
</div>
 


                                            <div class="space-6"></div>

                                            <!--   -->
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
</div>
</div>
</div>
</div>
 
</div>
</div>           

 
{% endblock %}
