<section class="colorlib-contact" data-section="cont">
    <div class="colorlib-narrow-content" id="Contact">

    </div>
</section>


<script>
    $(document).ready(function () {
        $.ajax({
            url: "#",
            success: function (result) {
                $("#Contact").html(result);
            }, error: function (xhr, status, error) {
                $("#Contact").html("Problem" + error);

            }
        });
    });
</script>
