<section class="colorlib-education" data-section="manual">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                <span class="heading-meta">How to use the system?</span>
                <h2 class="colorlib-heading animate-box">Manual and Guidlines</h2>
            </div>
        </div>
        <div class="row">
            <p style="font-size: 16px; text-align: center;"><strong>
                    <a href="{{asset('oca-user-gude/document.html')}}"
                       rel="noopener noreferrer" 
                       style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background-color: #f93; border: 1px solid #f93; border-radius: 30px; color: #ffffff; display: inline-block; font-family: sans-serif; line-height: 44px; text-align: center; text-decoration: none; width: 100%; text-size-adjust: none;" 
                       target="_blank">
                        Access OCA Manual
                    </a>
                </strong>
            </p>
            
        </div>
    </div>
</section>
