<!-- modals list modal1 -->
<!-- Button trigger modal -->
 
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Management</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p class="justify">
         Request is an operation where individuals/departments re ect their need of item/s. An item request format is used that shall be presented to PAO, with the list of items in need and why they are needed with an urgency of their requirement. The PAO may accept, suspend or reject such requests, mentioning the reason if the request is rejected or suspended. Requests are of two types; an Item issue request and purchase order request. Item issue request is made when an item is available in stock. Item issue request is made following a successful purchase order request. Purchase order requests are approved, involving top management meetings and discussions in the process, to re ect budget and other restrictions. Once a purchase order request is approved the listed items in the purchase request are used to conduct procurement. As such the system shall provide a report of approved purchase order requests. During receive process (model 19) the transaction should link the initial purchase order used, of course during applicable scenarios as donated item receive is not the case. While issue and purchase order requests could be made by individuals it is mandatory to be approved by the work unit head. Approved purchase order requests are provided to Procurement Directorate to initiate procurement process of the items. 
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- end modals list modal1 -->
<!-- modals list modal1 -->
<!-- Button trigger modal -->
 

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Classification and Coding of Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p class="justify">
          This function involves classi cation and coding of stock. The classification should be according to FGE chart of accounts. There should be 3 levels of classi cation for an asset. The  rst one will be the major classi cation as indicated in FGE Chart of Account (Volume II). The second one is the sub classi cation under the major classi cation. The third classi cation is identifying the speci c asset within the sub classifications.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- end modals list modal1 -->
<!-- modals list modal1 -->
<!-- Button trigger modal -->
 

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Stock Record and Accounting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p class="justify">
          OCA persists all transactions that involve movement of assets. It will be used to conduct accounting and inspection of assets. Printable documents shall be presented to conduct such operations. Those records are maintained by involving the store keeper and the stocks clerk in all operations, i.e. receive and issue. The system keeps track of the movement of stocks into and out of the storage areas and the balance of stocks remaining in the stores. It is to produce this balance that the store keeper and the stocks clerk are involved in all operations.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- end modals list modal1 -->
<!-- modals list modal1 -->
<!-- Button trigger modal -->
 

<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Stock Taking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p class="justify">
          It is a process of handing over stocks from a Storekeeper under his/her custody to another Storekeeper. 
                        Going on annual and other leaves and retirement, Traveling on duty, Undertaking training outside the working station , Promoted to higher position , Transferred to other working station or Undergoing medical treatment could be the reasons to initiate this action.
                         This feature allows a store keeper to work on behalf of other store keeper. Please beer in mind that the agreements and paper works are involved.
                          It is once this agreement in the presence of a competent witness that a store keeper shall allow the other store keeper to work on behalf of him. 
                      Restoring the process shall follow the same procedure.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- end modals list modal1 -->
<!-- modals list modal1 -->
<!-- Button trigger modal -->
 

<!-- Modal -->
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Receive, Return and Updating Assets in Store</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p class="justify">
          Receive operation is conducted once a procurement process is  nished. Donated items could also be received in similar fashion. 
                            In case of the  rst condition, technical evaluation is conducted and results are attached in the process. The systems shall provide a mechanism to upload scanned copy of evaluation results. 
                            Receiving procedure involves a paper work where at minimum two main forms are involved, Receipt for articles or property (Model 19) and Damage/Shortage Report (DSR). 
                            It is once those procedures are done that the store keeper shall record the assets in the system. Once an item is received it should be noti ed through email.
                            An asset may return(Model 22B) to a store even after giving service, ful lling requirements of service(evaluation criteria). The operation results an addition of items of the returned item to the store.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- end modals list modal1 -->
<!-- modals list modal1 -->
<!-- Button trigger modal -->
 
<!-- Modal -->
<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Issue and Updating Assets in Store</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p class="justify">
          This functionality deals with handing over stocks and  xed assets to users departments and outsiders.
                         The issue process considers all informations available in Model 22.
                         During the issue process involved entities are expected to use model 22. It involves checking availability of assets in a store and allowing issuance to the person in need.
                          Request could be made by departments/individuals and approval shall follow by the PAO. 
                      Once approval is made issuance is followed by the storekeeper.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

 

<!-- end modals list modal1 -->
<!-- modals list modal1 -->
<!-- Button trigger modal -->
 

<!-- Modal -->
<div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Auditing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p class="justify">
        The system shall audit transactions and activities performed by users. 
                        The audit entries must be not editable. 
                    Audit entries must at least contain User name that has performed an action, activity performed time stamp and performed action description.
                     Activities that should be audited include receive, issue, transfer and disposal.
                      Also creation/editing/deletion of user or user role, 
                  assigning and reassigning permissions to roles shall be audited.  
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- end modals list modal1 -->
<!-- modals list modal1 -->
<!-- Button trigger modal -->
 

<!-- Modal -->
<div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Users and User Roles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p class="justify">
          
                         In addition, every user has a set of properties: Full Name , Full Business Title (Company Name, Position), E-Mail Address, Phone, Working Address, Alternative Phone, and Alternative Working Address. Each user is uniquely identi ed by its name within the system.

                            
                            The system shall also support the concept of user role.
                             The role has the unique name within the installed instance of the system and a set of permissions that are assigned to this role.
                              The permission determines explicitly what the user belonging to this role allowed to do in the system. 
                              Every user of the  system must be associated with at least one of the roles.
                               The user can belong to many roles. 
                               If the user is member of several roles, the deny permission take over the grant one.
                                Generally, the PMS shall implement the RBAC (Role Based Access Control) security model. The system shall determine what of its functionality available to the authenticated user according to the user role and permissions and grant or deny access correspondingly. 
                                The default installation of the system shall provide at least the following pre-con gured user roles: “PAO”, “Store Keeper“, “Stock Clerk” and “Administrator”. 
                                The system administrator (user with the right to edit user roles) can con gure permissions of the roles.
      </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- end modals list modal1 -->


<section class="colorlib-services" data-section="services">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-4 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                <span class="heading-meta">System Features</span>
                <h2 class="colorlib-heading">Functionalities</h2>
            </div>
        </div>
        <div class="row row-pt-md">
            <div class="col-md-3 text-center animate-box">
                <div class="services color-6">
                    <span class="icon">
                             <i class="glyphicon glyphicon-home"></i>

                    </span>
                    <div class="desc">
                        <h3>Building Project</h3>
                     
        <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal"> Show more..</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3 text-center animate-box">
                <div class="services color-1">

                    <span class="icon"> 
                             <i class="glyphicon glyphicon-home"></i>

                    </span>
                    <div class="desc">
                        <h3>Road Project</h3>
                      
                         <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal1"> Show more..</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="services color-2">
                    <span class="icon"> 
                             <i class="glyphicon glyphicon-home"></i>
                    </span>
                    <div class="desc">
                        <h3>Water and Irrigation Project</h3>
              
                     <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal3"> Show more..</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="services color-3">
                    <span class="icon">
                             <i class="glyphicon glyphicon-home"></i>
                    </span>
                    <div class="desc">
                        <h3>HR Management</h3>
                       
                             <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal5"> Show more..</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="services color-4">
                    <span class="icon">
                             
                             <i class="glyphicon glyphicon-home"></i>

                    </span>
                    <div class="desc">
                        <h3>Industry</h3>
                       
                       <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal4"> Show more..</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="services color-5">
                    <span class="icon">
                             <i class="glyphicon glyphicon-home"></i>
                        
                    </span>
                    <div class="desc">
                        <h3>User Management</h3>
                       
                       <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal6"> Show more..</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center animate-box">
                <div class="services color-1">
                    <span class="icon">
                             <i class="glyphicon glyphicon-home small"></i>
         
                    </span>
                    <div class="desc">
                        <h3>Auditing</h3>
                        
                   <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal8"> Show more..</button>
                    </div>
                </div>
            </div>


            <div class="col-md-3 text-center animate-box">
                <div class="services color-6">
                    <span class="icon"> 
                             <i class="glyphicon glyphicon-home"></i>
                    </span>
                    <div class="desc">
                        <h3 clas="small">Users and User Roles</h3>
                       
                         <button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#exampleModal9"> Show more..</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
  .justify{
    text-align: justify;
  }
    </style>
</section>
